<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/error.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Oops! Error!</title>
</head>
<body>
<h1>Oops! Error!</h1>
<h2>Please check:</h2>
<h3>1. The address is really in UK or not</h3>
<h3>2. The input make sense or not</h3>
<h3>3. Internet connection</h3>
<h3>4. Requesting over 15 times in 30 seconds</h3>
<h3>If you find bugs or other else, please report it in the comment section on the home page</h3>
<form>
    <input type="button" value="Back" onclick="history.back()">
</form>



</html>