<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/error.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Oops! Error!</title>
</head>
<body>
<h1>Oops! Error!</h1>
<h1>Please check:</h1>
<h1>1. The address is really in UK or not</h1>
<h1>2. The input make sense or not</h1>
<h1>3. Internet connection</h1>
<h1>4. Requesting over 15 times in 30 seconds</h1>
<h1>If you find bugs or other else, please report it in the comment section on the home page</h1>
<form>
    <input type="button" value="Back" onclick="history.back()">
</form>



</html>