<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Bye Bye Crime</title>
    <a href="/" id="logo">Bye Bye Crimes</a>
  <ul id="menu">
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="/"><span>Tutorials</span></a></li>
    <li><a href="/"><span>Articles</span></a></li>
    <li><a href="/"><span>About me</span></a></li>
<!--    <li><a href="/"><span>Contact</span></a></li>-->
  </ul>
</head>
<body>
<form action = "http://localhost:5000/result" method = "POST">

    <p>Address <input type = "text" name = "Address" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>
</body>
</html>