<html>
<head>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Pin Crimes</title>
    <a href="/" id="logo">Pin Crimes</a>
    <ul id="menu">
        <li><a href="https://group2.rits-projects.com/"><span>description</span></a></li>
        <li><a href="../static/Total_Crime_England.png"><span>statistic</span></a></li>
        <li><a href="https://group2.rits-projects.com/about-us/"><span>contact</span></a></li>
        <!--    <li><a href="/"><span>About me</span></a></li>-->
        <!--    <li><a href="/"><span>Contact</span></a></li>-->
    </ul>
</head>
<body>

<form action="http://0.0.0.0:5000/result" method="POST">
<p>Please input the address <input type="text" name="Address" placeholder="Address"/></p>
<p><a href="/"><span><input type="submit" value="submit"/></span></a></p>
<!--<p><input type="submit" value="submit"/></p>-->
</form>

<img src="../static/Total_Crime_England.png" height="400" width="750">


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>

<div class="fb-comments" data-href="http://0.0.0.0:5000" data-width="" data-numposts="10"></div>




</body>
</html>